@import './normalize.scss';

body {
  font-family: 'San Francisco Pro Display' sans-serif;
  box-sizing: border-box;
  color: #1F3F68;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
